{% extends 'user_base.html' %}
{% load static %}

{% block Title %}
    Dashboard
{% endblock %}

{% block help%}
    {% include 'components/help.html'%}
{% endblock %}


{% block feedback %}
    {% include 'components/feedback.html'%}

{% endblock %}

{% block discount %}
    {% include 'components/discount.html'%}

{% endblock %}


{% block shop %}
    {% load static %}

    <div class="container mt-5">
        <div>
            <h3 >
                <b>
                    Find your perfect fit!.
                </b>
            </h3>
        </div>
        <div class="row g-4 mt-3 justify-content-center">
            <!-- Card 1 -->
            <div class="col-md-3">
                <div class="card" >
                    <img src="{% static 'image/scroller/5.jpg' %}" class="card-img-top" alt="Shoe Image 1">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card Title 1</h5>
                        <p class="card-text">Explore our exclusive collection of stylish footwear.</p>
                        <a href="#" class="btn buy_now">
                            Add to cart
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-3">
                <div class="card" >
                    <img src="{% static 'image/scroller/5.jpg' %}" class="card-img-top" alt="Shoe Image 2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card Title 2</h5>
                        <p class="card-text">Find your perfect pair with amazing deals.</p>
                        <a href="#" class="btn buy_now">
                            Add to cart
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-3">
                <div class="card" >
                    <img src="{% static 'image/scroller/5.jpg' %}" class="card-img-top" alt="Shoe Image 2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card Title 2</h5>
                        <p class="card-text">Find your perfect pair with amazing deals.</p>
                        <a href="#" class="btn buy_now">
                            Add to cart
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-3">
                <div class="card" >
                    <img src="{% static 'image/scroller/5.jpg' %}" class="card-img-top" alt="Shoe Image 2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card Title 2</h5>
                        <p class="card-text">Find your perfect pair with amazing deals.</p>
                        <a href="#" class="btn buy_now">
                            Add to cart
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-4 mt-3 justify-content-center">
            <!-- Card 1 -->
            <div class="col-md-3">
                <div class="card" >
                    <img src="{% static 'image/scroller/5.jpg' %}" class="card-img-top" alt="Shoe Image 1">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card Title 1</h5>
                        <p class="card-text">Explore our exclusive collection of stylish footwear.</p>
                        <a href="#" class="btn buy_now">
                            Add to cart
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-3">
                <div class="card" >
                    <img src="{% static 'image/scroller/5.jpg' %}" class="card-img-top" alt="Shoe Image 2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card Title 2</h5>
                        <p class="card-text">Find your perfect pair with amazing deals.</p>
                        <a href="#" class="btn buy_now">
                            Add to cart
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-3">
                <div class="card" >
                    <img src="{% static 'image/scroller/5.jpg' %}" class="card-img-top" alt="Shoe Image 2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card Title 2</h5>
                        <p class="card-text">Find your perfect pair with amazing deals.</p>
                        <a href="#" class="btn buy_now">
                            Add to cart
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-3">
                <div class="card" >
                    <img src="{% static 'image/scroller/5.jpg' %}" class="card-img-top" alt="Shoe Image 2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Card Title 2</h5>
                        <p class="card-text">Find your perfect pair with amazing deals.</p>
                        <a href="#" class="btn buy_now">
                            Add to cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block slide %}
    {% include 'components/slide.html'%}

{% endblock %}
