{% extends 'user_base.html' %}
{% load static %}

{% block Title %}
    Dashboard
{% endblock %}

{% block help%}
    {% include 'components/help.html'%}
{% endblock %}


{% block feedback %}
    {% include 'components/feedback.html'%}

{% endblock %}

{% block discount %}
    {% include 'components/discount.html'%}

{% endblock %}


{% block shop %}
    {% load static %}

    <div class="container mt-5 mb-5">
        <div>
            <h3>
                <b>
                    Find your perfect fit!
                </b>
            </h3>
        </div>
        <div class="row g-4 mt-3 justify-content-center">
            {% for product in products %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.product_name }}">
                    <div class="card-body text-center">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <small>{{ product.price }}</small>
                        </div>
                        <p class="card-text text-light">{{ product.description }}</p>
                        <button class="btn buy_now">
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
        <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center custom-pagination">
            <li class="page-item previous"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item next"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
{% endblock %}


