<div class="modal fade" id="updateCategoryModal" tabindex="-1" aria-labelledby="updateCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #28384c;">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-light noto-serif-ahom-regular" id="updateCategoryModalLabel">Update Category</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <!-- Hidden input for category_id -->
                    <input type="hidden" name="category_id" id="category_id" value="">

                    <div class="form-group">
                        {{ form.category_name.label_tag }}
                        {{ form.category_name }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
