    {% load static %}

    <div id="scroll" class="d-flex">
        <div class="wraper_skill position-relative overflow-hidden text-center ">
            <div class="d-none d-lg-block scroller" data-speed="fast">
                <ul class="tag-list scroller__inner">
                    <li><img src="{% static 'image/scroller/1.jpg' %}" alt=""></li>
                    <li><img src="{% static 'image/scroller/2.jpg' %}" alt=""></li>
                    <li><img src="{% static 'image/scroller/3.jpg' %}" alt=""></li>
                    <li><img src="{% static 'image/scroller/4.jpg' %}" alt=""></li>
                    <li><img src="{% static 'image/scroller/5.jpg' %}" alt=""></li>
                </ul>
            </div>
        </div>
    </div>