{% load static %}
<main class="notification content px-3 py-2">
    <div class="container-fluid">
        <div class="mt-3 mb-4 text-start">
            <h4 class="noto-serif-ahom-regular">Notification</h4>
        </div>        
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link text-light" id="help-tab" data-bs-toggle="tab" data-bs-target="#help" type="button" role="tab" aria-controls="help" aria-selected="false">
                    Help
                </button>
                <button class="nav-link text-light me-3" id="user-feedback-tab" data-bs-toggle="tab" data-bs-target="#user-feedback" type="button" role="tab" aria-controls="user-feedback" aria-selected="true">
                    Customer Feedback
                </button>
                <button class="nav-link text-light me-3" id="stock-alert-tab" data-bs-toggle="tab" data-bs-target="#stock-alert" type="button" role="tab" aria-controls="stock-alert" aria-selected="true">
                    Stock alert
                </button>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab" tabindex="0">
                {% include 'components/help_seller.html' %}
            </div>
            <div class="tab-pane fade show " id="user-feedback" role="tabpanel" aria-labelledby="user-feedback-tab" tabindex="0">
                {% include 'components/customer_feedback.html' %}
            </div>
            <div class="tab-pane fade show " id="stock-alert" role="tabpanel" aria-labelledby="stock-alert-tab" tabindex="0">
                {% include 'components/stock_alert.html' %}
            </div>
        </div>
    </div>
</main>
