{% load static %}
<main class="orders_main content ">
    <div class="container-fluid">
        <div class="Get_apps container mt-5 d-flex">
            <div class="container p-3 ">
                <div class="p-2">
                    <h2 class="text-dark noto-serif-ahom-regular">Discover and Manage Your Shoes</h2>
                    <small class="text-dark">
                        Click the button below to access the notification and explore your inventory effortlessly.
                    </small>
                </div>
                <div>
                    <button class="btn btn-success">
                        <a href="#notifications_page" class="sidebar-link" data-toggle="tab">
                            Find shoes 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="find_shoes bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                                <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
            <div class="container ">
                <img src="{% static 'orders_shoes.jpg' %}" alt="Welcome Seller Image" style="width: 200px; height: auto;">
            </div>
        </div>

        <div class="container mt-5 d-flex justify-content-between">
            <div>
                <h1 class="noto-serif-ahom-regular text-start">Orders</h1>
            </div>
            <div class="d-flex gap-3">
                <div>
                    <button class="btn btn-light">Export</button>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="row stats-container">
                <!-- modal calendar-->
                <div id="calendarModal" class="calendar-modal" style="display: none;">
                    <div class="calendar-content">
                        <input type="text" id="calendarInput">
                    </div>
                </div>
                <!-- Stats section -->
                <div class="col-12 col-md-2 d-flex align-items-center border-end border-dark justify-content-center gap-2 stat-item" id="calendarTrigger" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="calendar text-dark bi bi-calendar-minus-fill" viewBox="0 0 16 16">
                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M6 10h4a.5.5 0 0 1 0 1H6a.5.5.0 1 0"/>
                    </svg>
                    <span class="text-dark">Today</span>
                </div>
                <!-- Hidden Input for Flatpickr -->
                <input type="text" id="calendar" style="display:none;">

                <div class="col-6 col-md-2 border-end border-dark stat-item">
                    <div class="stat-value">{{ total_orders }}</div>
                    <div class="stat-label">Total orders</div>
                </div>
                <div class="col-6 col-md-2 border-end border-dark stat-item">
                    <div class="stat-value">{{ total_price|floatformat:2 }}</div>
                    <div class="stat-label">Total Price</div>
                </div>
                <div class="col-6 col-md-2 border-end border-dark stat-item">
                    <div class="stat-value">{{total_pending_orders}}</div>
                    <div class="stat-label">Total Pending</div>
                </div>
                <div class="col-6 col-md-2 border-end border-dark stat-item">
                    <div class="stat-value">0</div>
                    <div class="stat-label">Total Complete</div>
                </div>
                <div class="col-6 col-md-2 stat-item">
                    <div class="stat-value">0</div>
                    <div class="stat-label">Delivered orders</div>
                </div>
            </div>
        </div>

        <div class="table_orders container">
            <table class="table table-hover">
                <thead>
                    <tr class="header-orders">
                        <th class="text-black" scope="col">#</th>
                        <th class="text-black" scope="col">Id</th>
                        <th class="text-black" scope="col">Product</th>
                        <th class="text-black" scope="col">Quantity</th>
                        <th class="text-black" scope="col">Total Price</th>
                        <th class="text-black" scope="col">Order Status</th>
                        <th class="text-black" scope="col">Order Date</th>
                        <th class="text-black" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <th class="text-light" scope="row">{{ forloop.counter }}</th>
                            <td class="text-light">{{ order.user.username }}</td> <!-- Display customer username -->
                            <td class="text-light">{{ order.product.product_name}}</td>
                            <td class="text-light">{{ order.quantity }}</td>
                            <td class="text-light">₱{{ order.total_price }}</td> 
                            <td class="text-light">{{ order.order_status }}</td>
                            <td class="text-light">{{ order.order_date|date:"Y-m-d H:i" }}</td>
                            <td class="text-light d-flex gap-3">
                                <div class="mt-2">|</div>
                                <form action="{% url 'seller:delete_order' order.id %}" method="POST" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" 
                                            class="btn btn-danger btn-sm" 
                                            onclick="return confirm('Are you sure you want to cancel this order?');">
                                        Cancel
                                    </button>
                                </form>
                            </td>

                        </tr>
                        
                    {% empty %}
                        <tr>
                            <td colspan="8" class="text-danger text-center">No orders found.</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-light"><b>Total:</b> {{ total_price|floatformat:2 }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </tbody>

            </table>

        </div>
    </div>
</main>

            