{% load static %}
<main class="orders_main content ">
    <div class="container-fluid">
        <div class="Get_apps container mt-5 d-flex">
            <div class="container p-3 ">
                <div class="p-2">
                    <h2 class="text-dark noto-serif-ahom-regular">Discover and Manage Your Shoes</h2>
                    <small class="text-dark">
                        Click the button below to access the dashboard and explore your inventory effortlessly.
                    </small>
                </div>
                <div>
                    <button class="btn btn-success">
                        Find shoes 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="find_shoes bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="container ">
                <img src="{% static 'orders_shoes.jpg' %}" alt="Welcome Seller Image" style="width: 200px; height: auto;">
            </div>
        </div>

        <div class="container mt-5 d-flex justify-content-between">
            <div>
                <h1 class="noto-serif-ahom-regular text-start">Orders</h1>
            </div>
            <div class="d-flex gap-3">
                <div>
                    <button class="btn btn-light">Export</button>
                </div>
                <div>
                    <button class="btn create_orders">Create orders</button>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="row stats-container">
                <!-- modal calendar-->
                <div id="calendarModal" class="calendar-modal" style="display: none;">
                    <div class="calendar-content">
                        <input type="text" id="calendarInput">
                    </div>
                </div>
                <!-- Stats section -->
                <div class="col-12 col-md-2 d-flex align-items-center border-end border-dark justify-content-center gap-2 stat-item" id="calendarTrigger" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="calendar text-dark bi bi-calendar-minus-fill" viewBox="0 0 16 16">
                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M6 10h4a.5.5 0 0 1 0 1H6a.5.5.0 1 0"/>
                    </svg>
                    <span class="text-dark">Today</span>
                </div>
                <!-- Hidden Input for Flatpickr -->
                <input type="text" id="calendar" style="display:none;">

                <div class="col-6 col-md-2 border-end border-dark stat-item">
                    <div class="stat-value">48</div>
                    <div class="stat-label">Total orders</div>
                </div>
                <div class="col-6 col-md-2 border-end border-dark stat-item">
                    <div class="stat-value">493</div>
                    <div class="stat-label">Ordered items over time</div>
                </div>
                <div class="col-6 col-md-2 border-end border-dark stat-item">
                    <div class="stat-value">6</div>
                    <div class="stat-label">Returns</div>
                </div>
                <div class="col-6 col-md-2 border-end border-dark stat-item">
                    <div class="stat-value">359</div>
                    <div class="stat-label">Fulfilled orders over time</div>
                </div>
                <div class="col-6 col-md-2 stat-item">
                    <div class="stat-value">353</div>
                    <div class="stat-label">Delivered orders over time</div>
                </div>
            </div>
        </div>

        <div class="table_orders container">
            <table class="table table-hover">
                <thead>
                    <tr class="header-orders">
                        <th class="text-black" scope="col">Id</th>
                        <th class="text-black" scope="col">Name</th>
                        <th class="text-black" scope="col">Product</th>
                        <th class="text-black" scope="col">Price</th>
                        <th class="text-black" scope="col">Stock</th>
                        <th class="text-black" scope="col">Created At</th>
                        <th class="text-black" scope="col">Updated At</th>
                        <th class="text-black" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Repeat this block for each product -->
                    <tr>
                        <th class="text-light" scope="row">1</th>
                        <td class="text-light">shoes</td>
                        <td class="text-light">Description here</td>
                        <td class="text-light">$49.99</td>
                        <td class="text-light">100</td>
                        <td class="text-light">2025-01-10</td>
                        <td class="text-light">2025-01-10</td>
                        <td class="text-light d-flex gap-3" >
                        <!-- Edit -->
                        <button class="product_edit">
                            <svg height="1em" viewBox="0 0 512 512">
                                <path
                                d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"
                                ></path>
                            </svg>
                        </button>
                        <div class="mt-2">|</div>
                        <!-- Delete -->
                        <button class="product_delete ">
                            <svg viewBox="0 0 15 17.5" height="17.5" width="15" fill="red" xmlns="http://www.w3.org/2000/svg" class="icon">
                            <path transform="translate(-2.5 -1.25)" d="M15,18.75H5A1.251,1.251,0,0,1,3.75,17.5V5H2.5V3.75h15V5H16.25V17.5A1.251,1.251,0,0,1,15,18.75ZM5,5V17.5H15V5Zm7.5,10H11.25V7.5H12.5V15ZM8.75,15H7.5V7.5H8.75V15ZM12.5,2.5h-5V1.25h5V2.5Z" id="Fill"></path>
                            </svg>
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

            