{% load static %}
<main class="settings content px-3 py-2">
    <div class="container-fluid">
      <div class="mt-3 mb-4 text-start">
          <h4 class="noto-serif-ahom-regular">Settings</h4>
      </div>        
      <nav>
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
          <button class="nav-link text-light active me-3" id="audit-trail-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
            Audit Trail
          </button>
          <button class="nav-link text-light me-3" id="about-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
            user_feedback
          </button>
          <button class="nav-link text-light" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
            Help
          </button>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="audit-trail-tab" tabindex="0">
          {% include 'components/audit_trail.html'%}

        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="about-tab" tabindex="0">
          {% include 'components/user_feedback.html'%}
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="help-tab" tabindex="0">
        </div>
      
      </div>
    </div>
</main>
            