body{
    background-color: #151f2c;
    padding: 0;
    margin: 0;
}
.about_profile{
    background-color: #213144 ;
}
.noto-serif-ahom-regular {
    font-family: "Noto Serif Ahom", serif;
    font-weight: 400;
    font-style: normal;
}
.full-height {
    height: 100vh; 
}

.user_manual{
    background-color: rgb(182, 208, 236);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for contrast */
    backdrop-filter: blur(10px); 
}

.rocket-container , .login-container , .dashboard-container , .category-container , .product-container , .stock-container , .order-container , .notification-container{
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgb(2, 21, 42);
    margin-bottom: 2rem;
    padding: 2rem;
}
