.wraper_skill{
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
    display: grid;
    min-block-size: 100vh;
    /* place-content: center;
    font-family: system-ui;
    font-size: 1.125rem; */
    /* background: linear-gradient(45deg, #212121, #252525);
    background: radial-gradient(
        circle at bottom,
        rgba(23, 50, 94, 0.5) 10%,
        #2e2b2b 70%
    ); */
}
.noto-serif-ahom-regular {
    font-family: "Noto Serif Ahom", serif;
    font-weight: 400;
    font-style: normal;
}
.scroller {
    max-width: 1000px;
    }

    .scroller__inner {
    /* padding-block: 1rem; */
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    }

    .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
        90deg,
        transparent,
        white 20%,
        white 80%,
        transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    }

    .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
        var(--_animation-direction, forwards) linear infinite;
    }

    .scroller[data-direction="right"] {
    --_animation-direction: reverse;
    }

    .scroller[data-direction="left"] {
    --_animation-direction: forwards;
    }

    .scroller[data-speed="fast"] {
    --_animation-duration: 10s;
    }

    .scroller[data-speed="slow"] {
    --_animation-duration: 100s;
    }

    @keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
    }

    /* general styles */

    :root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
    }



    .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
    }

    .tag-list li {
    padding: 5px;
    background: var(--clr-primary-400);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
    }

    .test {
    background: red !important;
    }



/* shopping_cart */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

:root {
    --text-clr: white;
}

p {
    color: #6c757d;
}

a {
    text-decoration: none;
    color: var(--text-clr);
}

a:hover {
    text-decoration: none;
    color: var(--text-clr);
}

h2 {
    color: var(--text-clr);
    font-size: 1.5rem;
}

.main_cart {
    background: #fff;
}

.card {
    border: none;
}

.product_img img {
    min-width: 200px;
    max-height: 200px;
}

.product_name {
    color: black;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 500;
}

.card-title p {
    font-size: 0.9rem;
    font-weight: 500;
}

.remove-and-wish p {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.price-money h3 {
    font-size: 1rem;
    font-weight: 600;
}

.set_quantity {
    position: relative;
}

.set_quantity::after {
    content: "(Note, 1 piece)";
    width: auto;
    height: auto;
    text-align: center;
    position: absolute;
    bottom: -20px;
    right: 1.5rem;
    font-size: 0.8rem;
}

.page-link {
    line-height: 16px;
    width: 45px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #495057;
}

.page-item input {
    line-height: 22px;
    padding: 3px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-link:hover {
    text-decoration: none;
    color: #495057;
    outline: none !important;
}

.page-link:focus {
    box-shadow: none;
}

.price_indiv p {
    font-size: 1.1rem;
}

.fa-heart:hover {
    color: red;
}
